In [2]:
a = ['hello', 'hey', 'goodbuy', 'python', 'java']

In [9]:
for element in a:
    print (element)

hello
hey
goodbuy
python
java

In [26]:
b = [20, 30, 40, 60, 70, 60, 90]
for num in b:
    print (num)

20
30
40
60
70
60
90

In [33]:
total_sum = 0
for e in b:
    total_sum = total_sum + e
    print (total_sum)
    
print ("Total sum = "+ str(total_sum))

20
50
90
150
220
280
370
Total sum = 370

In [37]:
print (list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [39]:
for i in range (1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [53]:
total = 0
for i in range(1, 11):
    total += i
    print ("Sum + "+str(i)+" = "+str(total))
print ('Total = '+str(total))

Sum + 1 = 1
Sum + 2 = 3
Sum + 3 = 6
Sum + 4 = 10
Sum + 5 = 15
Sum + 6 = 21
Sum + 7 = 28
Sum + 8 = 36
Sum + 9 = 45
Sum + 10 = 55
Total = 55

In [54]:
print (list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [66]:
total = 0
for i in range (1,100):
    if i % 3 == 0 or i % 5 == 0:
        total +=i
print (total)

2318

In [67]:
def tot_sum (n, k):
    if n > 20:
        print (0)
    else:
        ak = 0
        for i in range(1, n + 1):
            if i % 2 == 0:
                ak += i ** k
        print (ak)